extends layout

block content
  div.messages
  h1 #{toUser}
    span.typing.last-online  last action: UTC #{lastOnline}
  include chat.pug

block append scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js')
  script var username = '#{username}';var toUser = '#{toUser}';
  script(src='/javascripts/singleChat.js')


